@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "AvenirNext LT Pro";
  font-weight: 500;
  font-size: 19px;
}

span {
  font-weight: 600;
}

.nav-bar {
  color: white;
  background-color: #323232;
  width: 100%;
  height: 105px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
@media (min-width: 768px) {
  .nav-bar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .nav-bar {
    height: 11vh;
    padding-left: 7.5rem;
  }
}
.nav-bar__ul {
  font-family: "AvenirNext LT Pro";
  font-weight: 300;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .nav-bar__ul {
    padding-left: 3rem;
  }
}
.nav-bar .nav-bar__logo {
  padding-top: 2rem;
  padding-left: 8.5rem;
  height: 24px;
}
@media (min-width: 768px) {
  .nav-bar .nav-bar__logo {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
  }
}
.nav-bar .nav-bar__links:visited {
  color: white;
}
@media (min-width: 768px) {
  .nav-bar .nav-bar__links {
    padding-right: 3rem;
  }
}
.nav-bar .nav-bar__links:hover {
  border-bottom: #fafafa 3px solid;
  padding-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .nav-bar .nav-bar__links:hover {
    border-bottom: #fafafa 3px solid;
    padding-bottom: 1.55rem;
  }
}

.section-header {
  line-height: 32px;
  color: white;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 30px;
}
@media (min-width: 768px) {
  .section-header {
    font-size: 44px;
  }
}
@media (min-width: 1280px) {
  .section-header {
    font-size: 55px;
    padding-left: 7rem;
  }
}

.bees-section {
  background-image: url(/assets/images/hero-bio.jpg);
  height: 282px;
  background-size: cover;
  background-position: center;
  width: 92.5%;
  display: flex;
  align-items: center;
  padding: 16px;
}
@media (min-width: 768px) {
  .bees-section {
    height: 58vh;
    width: 92.2%;
    padding: 30px;
  }
}
@media (min-width: 1280px) {
  .bees-section {
    height: 77vh;
    width: 104.72%;
    padding: 30px;
  }
}

.about-musicians {
  padding: 20px;
}
@media (min-width: 768px) {
  .about-musicians {
    padding: 40px;
  }
}
@media (min-width: 1280px) {
  .about-musicians {
    padding-left: 16rem;
  }
}

.about-header {
  padding-bottom: 18px;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 30px;
  color: #323232;
}
@media (min-width: 768px) {
  .about-header {
    font-size: 38px;
  }
}

.about-text {
  font-weight: 600;
  padding-top: 1rem;
  line-height: 1.6rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .about-text {
    font-size: 27px;
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  .about-text {
    font-size: 30px;
    font-weight: 500;
    padding: 26px;
    padding-left: 3rem;
  }
}

@media (min-width: 768px) {
  .about-quote {
    font-family: "AvenirNext LT Pro";
    font-weight: 600;
    padding-bottom: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  .about-quote {
    padding-left: 3rem;
  }
}

.about-subtitle {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  padding-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .about-subtitle {
    font-size: 27px;
  }
}
@media (min-width: 1280px) {
  .about-subtitle {
    padding-left: 3rem;
  }
}

@media (min-width: 768px) {
  .about-media {
    display: flex;
    flex-direction: row;
    line-height: 1.55rem;
    padding: 15px;
  }
}
@media (min-width: 1280px) {
  .about-media {
    padding-left: 3rem;
  }
}

.about-sub {
  padding-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .about-sub {
    padding-bottom: 1.25rem;
    padding-right: 1.55rem;
  }
}

.band-image {
  width: 100%;
}
@media (min-width: 768px) {
  .band-image {
    width: 84%;
    height: 52vh;
    padding-left: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .band-image {
    width: 92%;
    padding-left: 55px;
  }
}

.photo-header {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 30px;
  color: #323232;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .photo-header {
    font-size: 38px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .photo-header {
    padding-left: 4rem;
    padding-bottom: 3rem;
  }
}

.photo-gallery {
  background-color: #fafafa;
  padding: 20px;
  line-height: 2.5rem;
}
@media (min-width: 768px) {
  .photo-gallery {
    padding: 30px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery {
    padding: 30px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery {
    padding: 30px;
    width: 104.5%;
  }
}

@media (min-width: 768px) {
  .photo-media {
    line-height: 2.5rem;
    word-spacing: 1.55rem;
  }
}
@media (min-width: 1280px) {
  .photo-media {
    padding-left: 4rem;
    line-height: 4rem;
  }
}

.gallery-photo {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery-photo {
    width: 30%;
  }
}

.comments-section {
  padding: 20px;
}
@media (min-width: 768px) {
  .comments-section {
    padding: 40px;
  }
}
@media (min-width: 1280px) {
  .comments-section {
    padding: 60px;
  }
}

.comments-image {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .comments-image {
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 1280px) {
  .comments-image {
    height: 50px;
    width: 50px;
  }
}

.name {
  border: 1px solid #afafaf;
  border-radius: 3px;
  background-color: #fafafa;
  width: 80%;
  height: 6vh;
  padding-left: 10px;
  font-family: "AvenirNext LT Pro";
  font-size: 15px;
  font-weight: 500;
  color: black;
}
@media (min-width: 768px) {
  .name {
    width: 32rem;
  }
}

.comments {
  border: 1px solid #afafaf;
  border-radius: 3px;
  background-color: #fafafa;
  width: 80%;
  height: 17vh;
  padding-left: 10px;
  padding-top: 9px;
  font-family: "AvenirNext LT Pro";
  font-size: 15px;
  font-weight: 500;
  color: black;
}
@media (min-width: 768px) {
  .comments {
    width: 32rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    height: 12vh;
  }
}

.comments-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: inset;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .comments-form {
    margin-left: 4rem;
  }
}
@media (min-width: 1280px) {
  .comments-form {
    padding-left: 14rem;
  }
}

.comments-smalltext {
  font-family: "AvenirNext LT Pro";
  font-size: 12px;
  font-weight: 600;
  color: #afafaf;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
}

.name-smalltext {
  font-family: "AvenirNext LT Pro";
  font-size: 12px;
  font-weight: 600;
  color: #afafaf;
  padding-bottom: 0.5rem;
}

.comments-button {
  background-color: #323232;
  width: 17.2rem;
  height: 3rem;
  margin-top: 1.5rem;
  border-radius: 7px;
  color: white;
  font-size: large;
}
@media (min-width: 768px) {
  .comments-button {
    width: 11.2rem;
    margin-left: 23.5rem;
  }
}
@media (min-width: 1280px) {
  .comments-button {
    margin-left: 21.5rem;
  }
}

.forms-container {
  padding-left: 1.5rem;
}
@media (min-width: 768px) {
  .forms-container {
    padding-left: 0.75rem;
  }
}

.placeholder-image {
  border-radius: 50%;
  min-height: 36px;
  min-width: 36px;
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .placeholder-image {
    min-height: 50px;
    min-width: 50px;
  }
}

.view-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
  gap: 1rem;
  border-bottom: inset;
  padding-bottom: 1rem;
}

.view-comments {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.view-name {
  padding-right: 5rem;
  font-weight: 600;
}

.view-date {
  color: #afafaf;
}
@media (min-width: 768px) {
  .view-date {
    padding-left: 18.19rem;
  }
}
@media (min-width: 1280px) {
  .view-date {
    padding-left: 30.19rem;
  }
}
.view-date .view-text {
  margin: 0;
}
.view-date footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  line-height: 1.3rem;
  padding: 20px;
  padding-top: 40px;
}
@media (min-width: 768px) {
  .view-date footer {
    padding: 40px;
    font-family: "AvenirNext LT Pro";
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .view-date footer {
    width: 103.2%;
  }
}
@media (min-width: 768px) {
  .view-date .footer-media {
    display: flex;
    padding-bottom: 1.5rem;
  }
}
.view-date .footer-icons {
  word-spacing: 1.25rem;
  padding-top: 17px;
}
@media (min-width: 768px) {
  .view-date .footer-icons {
    padding-left: 2rem;
    word-spacing: 1.5rem;
    padding-top: 0.5rem;
  }
}
.view-date .footer-text {
  color: white;
}
@media (min-width: 768px) {
  .view-date .footer-text {
    display: flex;
    gap: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .view-date .footer-text {
    padding-left: 7.2rem;
  }
}
.view-date .footer-logo {
  padding-right: 12rem;
  padding-top: 4rem;
  height: 21px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .view-date .footer-logo {
    display: none;
  }
}
.view-date .footer-logo1 {
  display: none;
}
@media (min-width: 768px) {
  .view-date .footer-logo1 {
    display: inherit;
    padding-left: 9rem;
  }
}
@media (min-width: 1280px) {
  .view-date .footer-logo1 {
    padding-left: 34rem;
  }
}
.view-date .footer-sub {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.view-date .footer-copyright {
  color: white;
  font-size: 14px;
}
@media (min-width: 768px) {
  .view-date .footer-copyright {
    padding-top: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .view-date .footer-copyright {
    padding-left: 7.2rem;
  }
}/*# sourceMappingURL=bio.css.map */