@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "AvenirNext LT Pro";
  font-weight: 500;
  font-size: 19px;
  width: 100%;
}

span {
  font-weight: 600;
}

.section-header {
  line-height: 32px;
  color: white;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 30px;
}
@media (min-width: 768px) {
  .section-header {
    font-size: 44px;
  }
}
@media (min-width: 1280px) {
  .section-header {
    font-size: 55px;
    padding-left: 7rem;
  }
}

.nav-bar {
  color: white;
  background-color: #323232;
  width: 100%;
  height: 105px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
@media (min-width: 768px) {
  .nav-bar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .nav-bar {
    height: 11vh;
    padding-left: 7.5rem;
  }
}
.nav-bar__ul {
  font-family: "AvenirNext LT Pro";
  font-weight: 300;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .nav-bar__ul {
    padding-left: 3rem;
    font-size: 0.75rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__ul {
    padding-left: 3rem;
    font-size: 0.75rem;
  }
}
.nav-bar .nav-bar__logo {
  padding-top: 2rem;
  padding-left: 9rem;
  height: 24px;
}
@media (min-width: 768px) {
  .nav-bar .nav-bar__logo {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
  }
}
.nav-bar .nav-bar__links:visited {
  color: white;
}
@media (min-width: 768px) {
  .nav-bar .nav-bar__links {
    padding-right: 3rem;
  }
}
.nav-bar .nav-bar__links:hover {
  border-bottom: #fafafa 3px solid;
  padding-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .nav-bar .nav-bar__links:hover {
    border-bottom: #fafafa 3px solid;
    padding-bottom: 1.55rem;
  }
}

.hero-text {
  line-height: 32px;
  color: white;
  font-size: 29px;
  padding-bottom: 2rem;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 30px;
}
@media (min-width: 768px) {
  .hero-text {
    font-size: 41px;
    word-spacing: 0.15rem;
    line-height: 3.25rem;
  }
}
@media (min-width: 1280px) {
  .hero-text {
    font-size: 60px;
    padding-left: 7rem;
    line-height: 4.5rem;
  }
}

.hero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #323232;
  opacity: 0.5;
  z-index: -1;
}

.hero-section {
  background-image: url(/assets/images/hero-shows.jpg);
  height: 332px;
  background-size: cover;
  background-position: center;
  width: 92.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px;
  line-height: 4rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero-section {
    height: 65vh;
    width: 92.2%;
    padding: 30px;
  }
}
@media (min-width: 1280px) {
  .hero-section {
    height: 88vh;
    width: 104.72%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.hero-song {
  width: 98%;
}
@media (min-width: 768px) {
  .hero-song {
    width: 51%;
    height: 19vh;
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero-song {
    width: 30%;
    height: 19vh;
    padding-top: 3rem;
    padding-left: 7rem;
  }
}

.shows-containers {
  padding: 20px;
}

.shows-division {
  display: block;
}

.shows-text {
  color: white;
  font-size: large;
  font-weight: 500;
  font-family: "AvenirNext LT Pro";
  font-size: large;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows-text {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .shows-text {
    font-size: 29px;
    padding-left: 7rem;
  }
}

.shows-smalltext {
  font-family: "AvenirNext LT Pro";
  font-size: small;
  padding-top: 1rem;
  font-weight: 600;
  color: #afafaf;
}

.shows-subtext {
  font-weight: 600;
}

.shows-button {
  background-color: #323232;
  width: 21.5rem;
  height: 3rem;
  margin-top: 1.5rem;
  border-radius: 7px;
  color: white;
  font-size: large;
}
@media (min-width: 768px) {
  .shows-button {
    margin-left: 7rem;
    width: 12.5rem;
  }
}
@media (min-width: 1280px) {
  .shows-button {
    margin-left: 0;
  }
}

.shows-section {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding: 20px;
  border-bottom: inset;
}
@media (min-width: 768px) {
  .shows-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .shows-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20rem;
  }
}

.shows-subheader {
  font-size: 40px;
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 1280px) {
  .shows-subheader {
    margin-left: 6rem;
    position: absolute;
    top: 57rem;
  }
}

footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  line-height: 1.3rem;
  padding: 20px;
  padding-top: 40px;
}
@media (min-width: 768px) {
  footer {
    padding: 40px;
    font-family: "AvenirNext LT Pro";
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  footer {
    width: 103.2%;
  }
}

@media (min-width: 768px) {
  .footer-media {
    display: flex;
    padding-bottom: 1.5rem;
  }
}

.footer-icons {
  word-spacing: 1.25rem;
  padding-top: 17px;
}
@media (min-width: 768px) {
  .footer-icons {
    padding-left: 2rem;
    word-spacing: 1.5rem;
    padding-top: 0.5rem;
  }
}

.footer-text {
  color: white;
}
@media (min-width: 768px) {
  .footer-text {
    display: flex;
    gap: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .footer-text {
    padding-left: 7.2rem;
  }
}

.footer-logo {
  padding-right: 12rem;
  padding-top: 4rem;
  height: 21px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .footer-logo {
    display: none;
  }
}

.footer-logo1 {
  display: none;
}
@media (min-width: 768px) {
  .footer-logo1 {
    display: inherit;
    padding-left: 9rem;
  }
}
@media (min-width: 1280px) {
  .footer-logo1 {
    padding-left: 34rem;
  }
}

.footer-sub {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.footer-copyright {
  color: white;
  font-size: 14px;
}
@media (min-width: 768px) {
  .footer-copyright {
    padding-top: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .footer-copyright {
    padding-left: 7.2rem;
  }
}/*# sourceMappingURL=shows.css.map */